mixin choice(choices)
    for choice in choices
      - var text = choice.text
      - var link = choice.link
      - var quality = { name: choice.quality, value: choice.value }

      input(type='radio' name='choice' data-link=link data-quality=quality)
      label= text

h2= header
br
span= text
if choices
  form
    +choice(choices)
    input(type='button' value='YES')
else
  br
  a(href='/home') A WINNER IS YOU